from flox import FloxConfig, FloxContext, Flox

async def main():
    cfg = FloxConfig(service="test", environment="test")
    flox_ctx = FloxContext(cfg)
    ctx = flox_ctx.create_request_context(
        tenant_id="{{ project_code }}",
        project_code="{{ project_code }}",
        correlation_id="sample-correlation-id"
    )
    flox = Flox(ctx)
    flox.logger.info("project started")

if __name__ == "__main__":
    import asyncio
    asyncio.run(main())
